body {
  padding: 0;
  margin: 0;
  color: black;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-items: center;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 16rem;
    width: 14rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    .card-author {
      .author-avatar {
        display: flex;
        flex-direction: column;
        .author-img {
          display: inline-block;
          width: 120px;
          height: auto;
          border-radius: 50%;
          object-fit: cover;
        }
        .half-circle {
          position: relative;
          bottom: 62px;
          left: 0px;
          width: 120px;
          height: auto;
          fill: none;
          stroke: #ff8a00;
          stroke-width: 8;
          stroke-linecap: round;
          pointer-events: none;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .card-list {
    justify-items: center;
  }
}
