@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap");
h1 {
  font-family: "Urbanist";
  font-weight: 600;
}

h2 {
  font-family: "Urbanist";
  font-weight: 500;
}

label {
  font-family: "Urbanist";
  font-size: 1.4rem;
}

p {
  font-family: "Urbanist";
  font-weight: 400;
  font-size: 1.2rem;
}

hr {
  color: #ffffff;
  border: 1px dotted;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

#root {
  height: 100vh;
}

.form-container {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form {
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.178) 0px 4px 6px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.178) 0px 4px 6px;
  padding: 2rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vh;
  height: 16rem;
  width: 16rem;
}

.form-container .form .submit-btn {
  background-color: transparent;
  padding: 0.2rem 0.8rem;
  border: 1px solid #ff7315;
  cursor: pointer;
  font-family: "Urbanist";
  font-weight: 400;
}

.form-container .form .submit-btn:hover {
  border: 1px dashed #ff7315;
}

.form-container .form .submit-btn:active {
  background-color: #ff7315;
  color: white;
}

.form-container .form .username-bar {
  border: 1px solid #ff7315;
  padding: 0.2rem 0.8rem;
}

.form-container .sidebar {
  color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.178) 0px 4px 6px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.178) 0px 4px 6px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
  height: 16rem;
  width: 16rem;
  background: #ff7214;
  background: linear-gradient(45deg, rgba(255, 114, 20, 0.98) 16%, #f7aa02 74%);
  background: -webkit-linear-gradient(45deg, rgba(255, 114, 20, 0.98) 16%, #f7aa02 74%);
}

.form-container .sidebar h2 {
  margin-top: auto;
}

@media screen and (max-width: 524px) {
  .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form {
    margin-top: 2rem;
    height: 8rem;
    width: 8rem;
  }
  .sidebar {
    margin-bottom: 2rem;
    height: 8rem;
    width: 8rem;
  }
}
/*# sourceMappingURL=Form.css.map */