@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap");

$background-color: #ffffff;
$primary-color: #ff7315;
$secondary-color: #ffffff;
$primary-text-color: #ffffff;

@mixin gradient-background-primary {
  background: hsla(24, 100%, 54%, 1);

  background: linear-gradient(
    45deg,
    hsla(24, 100%, 54%, 0.98) 16%,
    hsla(41, 98%, 49%, 1) 74%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(24, 100%, 54%, 0.98) 16%,
    hsla(41, 98%, 49%, 1) 74%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(24, 100%, 54%, 0.98) 16%,
    hsla(41, 98%, 49%, 1) 74%
  );
}

@mixin box-shadow-alpha {
  box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.178) 0px 4px 6px;
}

h1 {
  font-family: "Urbanist";
  font-weight: 600;
}

h2 {
  font-family: "Urbanist";
  font-weight: 500;
}

label {
  font-family: "Urbanist";
  font-size: 1.4rem;
}

p {
  font-family: "Urbanist";
  font-weight: 400;
  font-size: 1.2rem;
}

hr {
  color: $background-color;
  border: 1px dotted;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

#root {
  height: 100vh;
}

.form-container {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    @include box-shadow-alpha();
    padding: 2rem;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    height: 16rem;
    width: 16rem;
    .submit-btn {
      background-color: transparent;
      padding: 0.2rem 0.8rem;
      border: 1px solid $primary-color;
      cursor: pointer;
      font-family: "Urbanist";
      font-weight: 400;
    }
    .submit-btn:hover {
      border: 1px dashed $primary-color;
    }
    .submit-btn:active {
      background-color: $primary-color;
      color: white;
    }
    .username-bar {
      border: 1px solid $primary-color;
      padding: 0.2rem 0.8rem;
    }
  }
  .sidebar {
    color: $primary-text-color;
    @include box-shadow-alpha();
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 16rem;
    width: 16rem;
    @include gradient-background-primary();
  }
  .sidebar h2 {
    margin-top: auto;
  }
}

@media screen and (max-width: 524px) {
  .form-container {
    flex-direction: column;
  }
  .form {
    margin-top: 2rem;
    height: 8rem;
    width: 8rem;
  }
  .sidebar {
    margin-bottom: 2rem;
    height: 8rem;
    width: 8rem;
  }
}
